.text-success {
    color: #117748 !important;
}

.bg-success {
    background-color: #117748 !important;
}

.navbar-brand {
    font-size: 1.1rem;
}

@media only screen and (min-width: 0px) and (max-width: 450px) {
    .cel{
        text-align: center !important;
    }

}